.divider-top {
    transition: 0.6s;
    background-color: #5BB745;
    height: 3px;
}

.clearer {
    padding-left: 0;
    padding-right: 0;
}
.emergency-grid {
    margin-top: 5px;
    float: left;
}
.img-subs {
    transition: 0.3s;
}
.left {
    transition: 0.6s;
    float: right;
    width: 300px;
    display: block;

}

.headies {
    transition: 0.6s;
    list-style: none;
    padding: 0;
    color: #006600;
}

.dropmarge {
    margin-top: 15px;
}
.index {
    z-index: 50;
    position: absolute;
}
.headies li {
    transition: 0.6s;
    margin-left: 30px;
    float: right;
    display: inline;
    color: #006600;
    list-style: none;
}

.headies li a {
    transition: 0.6s;
    display: inline;
    color: #006600;
    list-style: none;
}
.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.carousel {

    z-index: 1;
}
.form-search {
    transition: 0.6s;
    margin-top: 15px;

    float: right
}
.form-control {
    transition: 0.6s;
    margin-right: -4px;
    border: solid 1px #006600;
    border-radius: 0;
}
.btn-search {
    transition: 0.6s;
    color: white;
    background: #006600;
    border-radius: 0;
}
.btn-search:hover {
    color: #ffffff;
    background: #479B33;
}

.nav-top {
    transition: 0.6s;
    z-index: 50;
    transition: 0.6s;
    background-color: #479B33;
}
.navbar {
    border-radius: 0;
    background: #479B33;
    position: relative;
    margin-bottom: 0;
    border: 0 solid transparent;
    min-height: 0;
    transition: 0.6s;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    transition: 0.6s;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #006600;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #006600;
    transition: 0.6s;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #006600;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-collapse {
     padding-right: 0;
     padding-left: 0;
}
.dropdown-menu {
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 13px;
}
.golden_line {
    height: 3px;
    background: #CCAB00;

}
.container {
    transition: 0.6s;
}
.carousel {
    transition: 0.6s;
    background-color: #7CC769;
    margin-top: 10px;
}

.carousel-inner img {
    transition: 0.6s;
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 380px;
}





.banner1{
    background:url(images/banner.fw.png) no-repeat 0px 0px;
    background-size:cover;
    min-height:385px;
}
.banner2{
    background:url(images/3.png) no-repeat 0px 0px;
    background-size:cover;
    min-height:385px;
}
.banner3{
    background:url(images/1.png) no-repeat 0px 0px;
    background-size:cover;
    min-height:385px;
}
.banner4{
    background:url(images/6.png) no-repeat 0px 0px;
    background-size:cover;
    min-height:385px;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
.banner-info {
    width: 59%;
    position: absolute;
    top: 37%;
    left: 20%;
    text-align: center;
    z-index: 1;
}
.banner-info h3{
    color: #FFF;
    font-weight: 700;
    font-size:3em;
    text-transform: uppercase;
    z-index: 999;
}
.banner-info p{
    color: #FFF;
    line-height: 1.5em;
    font-size: 1.2em;
    width:70%;
    margin:0 auto;
    text-align: center;
    padding:1em 0 1.5em 0;
}
.callbacks_container {
    position: relative;
    width: 100%;
}
.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.callbacks li {
    position: absolute;
    left: 0;
    top: 0;
}
.callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
}
.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top:40%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 72px;
    width: 38px;
    background: transparent url("images/sp.png") no-repeat -19px -7px;
}
.callbacks_nav:active {
    opacity: 1.0;
}
.callbacks_nav.next {
    left: auto;
    background: transparent url("images/sp.png") no-repeat -77px -7px;
    right:0;
}



/*.col1 {*/
    /*float: left;*/
    /*width: 37%;*/
/*}*/
/*.menu-top {*/
    /*width: 470px;*/
    /*padding: 1em;*/
/*}*/
/*.col11 {*/
    /*float: left;*/
    /*width: 22%;*/
/*}*/
/*.menu-top1 {*/
    /*width: 670px;*/
    /*padding: 1em;*/
/*}*/
/*.col11 ul li{*/
    /*list-style:none;*/
    /*border-right: none;*/
/*}*/
/*.col11 ul li a{*/
    /*padding: 6px 0px;*/
    /*display: block;*/
/*}*/
/*.col11 h4{*/
    /*font-size: 1.5em;*/
    /*color: #000;*/
    /*margin-bottom: 0.5em;*/
/*}*/
/*.col1 ul li{*/
    /*list-style:none;*/
    /*border-right: none;*/
/*}*/
/*.col1 ul li a{*/
    /*padding: 6px 0px;*/
    /*display: block;*/
/*}*/
/*.col1 h4{*/
    /*font-size: 1.5em;*/
    /*color: #000;*/
    /*margin-bottom: 0.5em;*/
/*}*/
/*.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {*/
    /*display: block;*/
    /*max-width: 165%;*/
    /*height: auto;*/
/*}*/
/*.min_pad {*/
    /*margin-left: -40px;*/
/*}*/




.dropdown-menu.columns-1 {
    min-width: 700px;
}
.dropdown-menu.columns-2 {
    min-width: 500px;
}
.dropdown-menu.columns-3 {
    min-width: 700px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown {
    list-style: none;
    float: left;
margin-left: -40px;
    margin-right: -40px;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.men-img-wid {
    margin-top: 10px;
    margin-bottom: 10px;
}









.reads {
    padding: 0;
}

.greens {
}
.green {
    margin-left: -35px;
    margin-right: -20px;
}
.green li {
    box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -o-box-shadow: 0px 0px 5px #999;
    display: inline-block;
    text-decoration: none;
    width: 165px;
    height: 35px;
    margin-top: 12px;
    margin-right: 14px;
    border-radius: 2px;
    background: #006600;
    padding-top: .5em;
    padding-bottom: .1em;
    padding-left: .5em;
}

.green li:hover {
    text-decoration: none;
    border-radius: 2px;
    background: #5BB745;
}

.green ul li:active {
    transition: 0.6s;
    border-radius: 2px;
    background: #5BB745;
}

.green li a {
    text-decoration: none;
    font-size: 0.95em;
    color: white;
}

.beeg {
    margin-left: 5px;
    margin-right: 35px;
    padding: 5px;
    box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -o-box-shadow: 0px 0px 5px #999;
}

.beeg_text p strong {
    font-size: 1.4em;
}

.beeg_text p {
    font-size: .9em;
}

.beeg_text {

}

.beeg_image {
    float: right;
}

.read_more {
    box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -o-box-shadow: 0px 0px 5px #999;
    color: white;
    border-radius: 0;
    background: #006600;
    border-bottom: solid 2px #CCAB00;
    transition: 0.6s;
    font-size: 1em;
}
.read_more:enabled {
    background: #006600;
    color: white;
}
.read_more:hover {
    background: #479B33;
    color: white;
}

.marg {
    margin-left: 15px;
}

.before {

}

.fine_line {

    height: 3px;
    background: #CCAB00;
}

.trav {
    margin: 0;
    height:120px;
}
.before {
    margin-top: 6px;
}
.before p {
    margin-bottom: 2px;
}
.before p strong {
    font-size: 1.6em;
    color: #006600;
}
.full_events {
    transition: 0.6s;
    border: solid 1px #006600;
    font-size: 1em;
    color: #006600;
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 4px;
    padding: 2px;
    padding-left: 7px;
}
.full_events:hover {
    background: #006600;
    color: #ffffff;
}
.text_1 {
    margin-top: 20px;
    width: 76px;
    padding: 0;
    border: solid 2px #CCAB00;
}

.text_1 h2 {
    background: #461C00;
    margin: 0;
    text-align: center;
    padding: 0;
}

.text_1 p {
    background: #ffffff;
    margin: 3px;
    padding: 0;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    color: #461C00;
}

.text_1 h2 strong {
    margin: 0;
    font-size: .6em;
    color: white;
}


.text_2 h1 {
    margin: 0;
    padding: 0;
}

.text_2 {
    margin: 0;
    padding: 0;
    float: left;
}

.text_2 h3 {;
    font-size: .9em;
    color: #006600;
}
.text-right{
    margin-left: 10px;
    text-align: left;
    color: #006600;
}
.between {
    margin-top: 60px;
}
.multimedia h2 {
    margin: 0;
    padding: 4px 0 6px 6px;
    background: #006600;
    color: #fff;
    font-size: 20px;
    border-top: 4px solid #4c2804;
}
.multimedia {
    height: 300px;
    padding-right: 0px;
    box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -o-box-shadow: 0px 0px 5px #999;
}
.video {
    float: none;
    clear: both;
    width: 100%;

    padding-bottom: 43%;
    padding-top: 25px;
    height: 0;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.sport {
    background: #fff;
    box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -o-box-shadow: 0px 0px 5px #999;
    border-top: 4px solid #4c2804;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 10px;
}
.sport h2 {
    margin-top: 0;
    margin-bottom: -3px;
    padding: 5px 0 8px 8px;
    background: #006600;
    font-size: 20px;
    color: #fff;
}
.sport div {
    padding: 10px;
    color: #000;
}
.sp_p {
    font-size: .9em;
}
.btn-margin {
    transition: 0.6s;
    box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -o-box-shadow: 0px 0px 5px #999;
    margin-top: -15px;
    color: white;
    border-radius: 0;
    float: right;
    background: #006600;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-bottom: solid 2px #CCAB00;
}
.btn-margin:enabled {
    background: #006600;
    color: white;
}
.btn-margin:hover {
    background: #479B33;
    color: white;
}
.smallies{
    transition: 0.6s;
    background: #D5D0C0;
    border-radius: 5px;
    height: 50px;
    margin-left: 16px;
    margin-bottom: 5px;
    padding-top: 13px;
    padding-left: 14px;
}
.smallies:hover {
    background: #002800;
    color: white;
}
.smallies p.small_text {
    margin-left: 45px;
    margin-top: 3px;
}





body {
    transition: 0.6s;
    background:#fff;
    font-family:Dax, sans-serif;
}

/*p {*/
/*margin-bottom:20px;*/
/*}*/

.clearout {
    height:20px;
    clear:both;
}

.clear{
    clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
    display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    transition: 0.6s;
    padding:0px;
    list-style-type:none;
    text-align:center;
}

.nbs-flexisel-inner {
    overflow:hidden;
    /*float:left;*/
    width:100%;

}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    transition: 0.6s;
    padding:0px;
    cursor:pointer;
    /*position:relative;*/
}
.nbs-flexisel-item div {
    cursor: pointer;

    transition: 0.6s;
    margin-left: 10px;

}

/*** Navigation ***/
.nbs-flexisel-nav-left{
    margin-rightt: 10px;
    transition: 0.6s;
}
.nbs-flexisel-nav-right{
    margin-left: 10px;
    transition: 0.6s;
}

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;

    height: 85px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.7;
}

.nbs-flexisel-nav-left {
    left: 5px;
    background: url(images/slideleftnav.fw.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(images/sliderightnav.fw.png) no-repeat;
}
.newsblock{
    margin-right: 15px;
}

@media (max-width:1200px) {
    .green li {
        width: 138px;
        margin-right: 7px;
    }
    .green li a {
         font-size: 0.85em;
     }
}
@media (max-width:991px) {
    .left {
        float: right;
        width: 300px;
    }

    .headies {
        height: 15px;
    }

    .headies li {
    }

    .headies li a {
        display: inline;
        color: #006600;
        list-style: none;
    }

    .form-search input {
        height: 27px;
        margin-bottom: 10px;
    }

    .btn-search {
        margin-bottom: 10px;
        padding-bottom: 4px;
        font-size: .8em;
        color: white;
        background: #006600;
        border-radius: 0;
    }
    .btn-search strong{
        margin-bottom: 18px;
    }
    ul.top-nav li {
        float: left;
    }

    ul.top-nav li a {
        height: 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: .66em 1em 1em 1em;
        color: #f3f3f3;
        transition: 0.6s;
        font-size: 11px;
    }
    .green li {
        width: 95px;
        height: 35px;
        margin-top: 10px;
        margin-right: 7px;
        border-radius: 2px;
        padding-top: .4em;
        padding-bottom: .1em;
        padding-left: .5em;
    }
    .green li a {
        font-size: 0.67em;
        color: white;
    }
}

@media (max-width:767px) {
    .img-subs {
        max-width: 200px;
        max-height: 200px;
    }
    .left {
        float: right;
    }
    .headies{
        height: 15px;
    }
    .headies li {
        font-size: .9em;
        margin-left: 8px;
    }

    .headies li a {
        display: inline;
        color: #006600;
        list-style: none;
    }

    .form-search input {
        height: 27px;
        width: 123px;
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .btn-search {
        margin-bottom: 10px;
        padding-bottom: 4px;
        font-size: .8em;
        color: white;
        background: #006600;
        border-radius: 0;
    }
    ul.top-nav li {
        float: left;
    }

    ul.top-nav li a {
        height: 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: .66em 1em 1em 1em;
        color: #f3f3f3;
        transition: 0.6s;
        font-size: 10px;
    }
    .green li {
        width: 138px;
        height: 35px;
        margin-top: 12px;
        margin-right: 14px;
        border-radius: 2px;
        background: #006600;
        padding-top: .5em;
        padding-bottom: .1em;
        padding-left: .5em;
    }
    .green li a {
        font-size: 0.85em;
        color: white;
    }
}
@media (max-width:685px) {
    .green li {
        width: 118px;
    }
    .green li a {
        font-size: 0.75em;
    }
}
@media (max-width:566px) {
    .green li {
        width: 100px;
        padding-bottom: .1em;
    }
    .green li a {
        font-size: 0.65em;
    }
}
@media (max-width:540px) {
    .green li {
        width: 100px;
        padding-bottom: .1em;
        margin-top: 12px;
        margin-right: 5px;
        padding-top: .4em;
        padding-left: .4em;
    }
}
@media (max-width:529px) {
    .left {
        float: right;
        width: 205px;
    }
}
@media (max-width:500px) {
    .green li {
        width: 187px;
        padding-bottom: .1em;
        margin-top: 12px;
        margin-right: 15px;
        padding-top: .4em;
        padding-left: .6em;
    }
    .green li a {
        font-size: 1em;
    }
}
@media (max-width:435px) {
    .img-subs {
        max-width: 200px;
        max-height: 200px;
    }
    .left {
        float: right;
        width: 200px;
    }
    .headies{
        height: 15px;
    }
    .headies li {
        font-size: .8em;
        margin-top: 0;
        margin-left: 8px;
    }

    .headies li a {
        display: inline;
        color: #006600;
        list-style: none;
    }
    .form-search {
        margin-top: 0;
    }
    .form-search input{
        width: 103px;
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .btn-search {
        color: white;
        background: #006600;
        border-radius: 0;
    }
    .green li {
        width: 145px;
        padding-bottom: .1em;
        margin-top: 12px;
        margin-right: 12px;
        padding-top: .4em;
        padding-left: .6em;
    }
    .green li a {
        font-size: 0.95em;
    }
}
@media (max-width:332px) {
    .green li {
        width: 115px;
        padding-bottom: .1em;
        margin-top: 12px;
        margin-right: 12px;
        padding-top: .4em;
        padding-left: .6em;
    }
    .green li a {
        font-size: 0.65em;
    }
}
@media (max-width:272px) {
    .green li {
        width: 95px;
        padding-bottom: .1em;
        margin-top: 12px;
        margin-right: 12px;
        padding-top: .4em;
        padding-left: .6em;
    }
    .green li a {
        font-size: 0.65em;
    }
}




@media (min-width:768px) {
    .img-subs {
        max-width: 240px;
        max-height: 240px;
    }
}

@media (min-width:992px) {
    .img-subs {
        max-width: 314px;
        max-height: 314px;
    }
}

@media (min-width:1200px) {
    .img-subs {
        max-width: 380px;
        max-height: 380px;
    }
}







@media (max-width: 597px) {
    .align {
        padding-right: 3px;
        padding-left: 3px;
    }
    .top-nav ul {
        padding: 0;
        margin: 0;
        font-family: 'Myriad Pro', sans-serif;
    }

    .top-nav ul li {
        display: list-item;
        text-decoration: none;
    }
}

@media screen and (max-width: 635px) {
    .top-nav ul li:not(:first-child) {
        display: none;
    }

    .top-nav ul li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width: 680px) {
       ul.top-nav li:not(:first-child) {
           transition: 0.6s;
        display: none;
    }

    ul.top-nav li.icon {
        transition: 0.6s;
        float: right;
        display: inline-block;
    }

    ul.top-nav.responsive {
        transition: 0.6s;

    }

    ul.top-nav.responsive li.icon {
        transition: 0.6s;
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.top-nav.responsive li {
        transition: 0.6s;
        float: none;
        display: inline;
    }

    ul.top-nav.responsive li a {
        transition: 0.6s;
        display: block;
        text-align: left;
    }
}